<h1> <%= @meetup.name %> </h1>
<h3>What is it?</h3>
<p> <%=@meetup.description%></p>
<h3> Where?</h3>
<p><%= @meetup.location%></p>

<h3> Interested in joining the fun? Click here! </h3>
<form action="" method="post">
    <button name="join" value="join">Join us</button>
<form>

<div class = "member-list">
<h3> Members of our meetup. Is your friend one of them? </h3>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Avatar</th>
    </tr>
  </thead>

  <tbody>

    <% @members.each do |member| %>
      <% @user= member.user %>
      <tr>
        <td><%= @user.username %></td>
        <td><img src= "<%= @user.avatar_url%>" style ="width: 50px; height: 50px"></td>
        </tr>
    <% end %>

  </tbody>
</table>
</div>
